<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/knoldus/IdeaProjects/Luma_mvn"><classes><class name="Luma_test.Lumatestfeaters"><methods><include name="homeoperation"/><include name="Login"/><include name="Addressoperation"/><include name="Editaddress"/><include name="Wishlistoperations"/><include name="compareoperations"/><include name="cartoperation"/></methods></class></classes></test></suite>